<app-intro-excerpt [title]="'Find the perfect '"
                   [titleSpan]="'furniture for you'"
                   [shopPage]="true">
</app-intro-excerpt>
<div class="container">
  <div class="row">
    <div class="col-3">
      <app-drop-down-list [items]="categories"
                          [default]="'Choose category'"
                          (option)="filterProducts($event)">
      </app-drop-down-list>
    </div>
    <div class="col-3">
      <app-drop-down-list [items]="sortBy"
                          [default]="'Sort products'"
                          (option)=sortProducts($event)>
      </app-drop-down-list>
    </div>
  </div>
</div>
<div class="untree_co-section product-section before-footer-section">
  <div class="container">
    <div class="row">
      @for (product of products; track product.id){
        <div class="col-12 col-md-4 col-lg-3 mb-5">
          <app-item-card [name]="product.name"
                         [price]="product.price"
                         [path]="product.image.path"
                         [alt]="product.image.alt"
                         [id]="product.id"
                         (addToCartClicked)="addToCart()">
          </app-item-card>
        </div>
      }
    </div>
  </div>
</div>
