<nav class="custom-navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">Furni<span>.</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
            aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsFurni">
      <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0" *ngIf="!isAdmin">
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="/shop">Shop</a>
        </li>
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="/aboutUs">About us</a>
        </li>
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="/support">Services</a>
        </li>
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="/contact">Contact us</a>
        </li>
      </ul>
      <ul class="custom-navbar-cta navbar-nav">
        <li *ngIf="isLoggedIn">
          <a class="nav-link logout" (click)="logout()">Log out</a>
        </li>
        <li *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="/login">Log in</a>
        </li>
        <li *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="/register">Registration</a>
        </li>
        <li *ngIf="!isLoggedIn" class="mx-2">
          <a routerLink="/cart" class="text-white">
            <img src="/assets/images/cart.svg" class="nav-link" alt="Cart">
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
