<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

  <div class="container">
    <a class="navbar-brand" href="index.html">Furni<span>.</span></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsFurni">
      <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="/home" ariaCurrentWhenActive="page">Home</a>
        </li>
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="/shop" ariaCurrentWhenActive="page">Shop</a>
        </li>
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="/aboutUs" ariaCurrentWhenActive="page">About us</a>
        </li>
        <li routerLinkActive="active"><a class="nav-link" routerLink="/support" ariaCurrentWhenActive="page">Services</a></li>
        <li routerLinkActive="active"><a class="nav-link" routerLink="/contact" ariaCurrentWhenActive="page">Contact us</a></li>
      </ul>

      <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5 mt-2">
        <li  routerLinkActive="active" >
          <mat-icon matBadge="{{ cartItemCount }}" matBadgeColor="warn">shopping_cart</mat-icon>
        </li>
      </ul>
    </div>
  </div>

</nav>
