.fa-chevron-left, .fa-chevron-right{
  font-size: 30px;
  color: black;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 28px;
  font-size: 18px;
}

*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
.section-title {
  color: #2f2f2f;
}
.h2, h2 {
  font-size: calc(1.325rem + .9vw);
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}
