<div class="testimonial-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto text-center">
        <h2 class="section-title">Testimonials</h2>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <ng-container *ngFor="let item of testimonials; let i = index">
            <div class="carousel-item" [ngClass]="{'active' : i === 0}">
              <div class="item">
                <div class="row justify-content-center">
                  <div class="col-lg-8 mx-auto">

                    <div class="testimonial-block text-center">
                      <blockquote class="mb-5">
                        <p>&ldquo;{{ item.testimony }}&rdquo;</p>
                      </blockquote>

                      <div class="author-info">
                        <div class="author-pic">
                          <img src="/assets/images/person-1.png" alt="Maria Jones" class="img-fluid mb-3">
                        </div>
                        <h3 class="font-weight-bold">{{ item.name }}</h3>
                        <span class="position d-block mb-3">{{ item.position }}</span>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fa-solid fa-chevron-left"></i></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"><i class="fa-solid fa-chevron-right"></i></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

  </div>
</div>

