<div class="why-choose-section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-6">
        <h2 class="section-title">Why Choose Us</h2>
        <p>We offer high-quality, stylish furniture that fits perfectly into your modern lifestyle. Our commitment to excellence and customer satisfaction sets us apart.</p>

        <div class="row my-5 d-flex">
          @for (feature of chooseUs; track feature){
            <div class="col-6">
              <app-feature [title]="feature.title"
                           [img]="feature.img"
                           [description]="feature.description">
              </app-feature>
            </div>

          }
        </div>
      </div>

      <div class="col-lg-5">
        <div class="img-wrap">
          <img src="/assets/images/why-choose-us-img.jpg" alt="Image" class="img-fluid">
        </div>
      </div>

    </div>
  </div>
</div>
