<div class="col-12">
  <table class="table">
    <thead>
    <tr>
      <th *ngFor="let col of columns" scope="col">{{ col.displayName }}</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let d of data; let i = index">
      <td *ngFor="let col of columns">
        <ng-container [ngSwitch]="col.colName">
          <ng-container *ngSwitchCase="'available'">
            <select [value]="getValue(d, col.colName)" (change)="onValueChange(d.id, col.colName, $event)">
              <option *ngFor="let option of availableOptions" [value]="option">{{ option }}</option>
            </select>
          </ng-container>
          <ng-container *ngSwitchCase="'role_id'">
            <select [value]="getValue(d, col.colName)" (change)="onValueChange(d.id, col.colName, $event)">
              <option *ngFor="let option of roleOptions" [value]="option.id" [selected]="option.id === getValue(d, col.colName)">{{ option.name }}</option>
            </select>
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{ getValue(d, col.colName) }}
          </ng-container>
        </ng-container>
      </td>
      <td>
        <button (click)="onDelete(d.id)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
