<app-intro-excerpt [title]="'Cart'"
                   [shopPage]="true">
</app-intro-excerpt>
@if(localStorage.getItem('authToken') == null || tokenExpired){
  <div class="untree_co-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center pt-5">
          <h2 class="display-3 text-black">Please log in to purchase items.</h2>
          <p><a routerLink="/login" class="btn btn-sm btn-outline-black">Log in</a></p>
        </div>
      </div>
    </div>
  </div>
}
@else if(products.length == 0){
  <div class="untree_co-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center pt-5">
          <h2 class="display-3 text-black">Your cart is empty</h2>
          <p><a routerLink="/shop" class="btn btn-sm btn-outline-black">Back to shop</a></p>
        </div>
      </div>
    </div>
  </div>
}
@else {
  <div class="untree_co-section before-footer-section">
    <div class="container">
      <div class="row mb-5">
        <form class="col-md-12" method="post">
          <div class="site-blocks-table">
            <table class="table">
              <thead>
              <tr>
                <th class="product-thumbnail">Image</th>
                <th class="product-name">Product</th>
                <th class="product-price">Price</th>
                <th class="product-quantity">Quantity</th>
                <th class="product-remove">Remove</th>
              </tr>
              </thead>
              <tbody>
                @for (product of products; track product.id){
                  <tr>
                    <td class="product-thumbnail">
                      <img src="/assets/images/{{ product.image.path }}" alt="{{ product.image.alt }}" class="img-fluid">
                    </td>
                    <td class="product-name">
                      <h2 class="h5 text-black">{{ product.name }}</h2>
                    </td>
                    <td>{{ product.price | currency}}</td>
                    <td class="margin-left">
                      <div class="input-group mb-3 d-flex align-items-center quantity-container" style="max-width: 120px;">
                        <div class="input-group-prepend">
                          <button (click)="updateProductQuantity(product.id, 'decrease')" class="btn btn-outline-black decrease" type="button">&minus;</button>
                        </div>
                        <div class="d-flex justify-content-center col-6">
                          <p>{{ product.quantity}}</p>
                        </div>
                        <div class="input-group-append">
                          <button (click)="updateProductQuantity(product.id, 'increase')" class="btn btn-outline-black increase" type="button">&plus;</button>
                        </div>
                      </div>
                    </td>
                    <td>
                      <button (click)="removeProductFromCart(product.id)" class="btn btn-outline-black increase" type="button">X</button>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="row mb-5">
            <div class="col-md-6">
              <app-button [color]="'dark'" [title]="'Continue Shopping'" [link]="'/shop'"></app-button>
            </div>
          </div>
        </div>
        <div class="col-md-6 pl-5">
          <div class="row justify-content-end">
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-12 text-right border-bottom mb-5">
                  <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <span class="text-black">Subtotal</span>
                </div>
                <div class="col-md-6 text-right">
                  <strong class="text-black">{{ subtotal | currency}}</strong>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <span class="text-black">Delivery</span>
                </div>
                <div class="col-md-6 text-right">
                  <strong class="text-black">{{ delivery | currency}}</strong>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-md-6">
                  <span class="text-black">Total</span>
                </div>
                <div class="col-md-6 text-right">
                  <strong class="text-black">{{ total | currency }}</strong>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <app-button [color]="''" [title]="'Proceed To Checkout'" [link]="'/checkout'"></app-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}



