<div class="product-section">
  <div class="container">
    <div class="row">

      <!-- Start Column 1 -->
      <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
        <h2 class="mb-4 section-title">Crafted with excellent material.</h2>
        <p class="mb-4">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. </p>
        <p>
          <app-button [title]="'Explore'" [color]="'dark'" [link]="'/shop'">
          </app-button>
        </p>
      </div>
      @for(product of products; track product){
        <div class="col-12 col-md-4 col-lg-3 mb-5">
          <app-item-card [name]="product.name"
                         [alt]="product.img.alt"
                         [path]="product.img.path"
                         [price]="product.price"
                         [id]="product.id"
                         [shopPage]="false">
          </app-item-card>
        </div>
      }
    </div>
  </div>
</div>

