<app-intro-excerpt [title]="'Services'">
</app-intro-excerpt>
<div class="why-choose-section">
  <div class="container">
    <div class="row my-5">
      @for(support of supports; track support){
        <div class="col-3 col-md-3">
          <app-feature [title]="support.title"
                        [description]="support.description"
                        [img]="support.img">
          </app-feature>
        </div>
      }
    </div>

  </div>
</div>
<!-- End Why Choose Us Section -->

<app-products-section></app-products-section>

<app-slider></app-slider>
