<app-intro-excerpt [title]="'Modern Interior'"
                   [titleSpan]="'Design Studio'">
</app-intro-excerpt>
<app-products-section></app-products-section>

<!-- Start Why Choose Us Section -->
<app-choose-us></app-choose-us>
<!-- End Why Choose Us Section -->

<!-- Start We Help Section -->
<div class="we-help-section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-7 mb-5 mb-lg-0">
        <div class="imgs-grid">
          <div class="grid grid-1"><img src="/assets/images/img-grid-1.jpg" alt="Untree.co"></div>
          <div class="grid grid-2"><img src="/assets/images/img-grid-2.jpg" alt="Untree.co"></div>
          <div class="grid grid-3"><img src="/assets/images/img-grid-3.jpg" alt="Untree.co"></div>
        </div>
      </div>
      <div class="col-lg-5 ps-lg-5">
        <h2 class="section-title mb-4">We Help You Make Modern Interior Design</h2>
        <p>Transform your living space with our expert guidance and modern designs. Our team of professionals ensures that your home reflects your style while maximizing comfort and functionality.</p>

        <ul class="list-unstyled custom-list my-4">
          <li>Each piece is meticulously handcrafted by skilled artisans, ensuring unique and high-quality furniture.</li>
          <li>Made from eco-friendly, natural materials, our furniture promotes a healthier planet.</li>
          <li>Our designs blend modern aesthetics with timeless elegance, suitable for any interior.</li>
          <li>Built to last, our furniture offers both style and longevity, providing lasting value for your home.</li>
        </ul>
        <p>
          <app-button [title]="'Explore'" [color]="'dark'" [link]="'/shop'"></app-button>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- End We Help Section -->

<!-- Start Popular Product -->
<div class="popular-product">
  <div class="container">
    <div class="row">

      @for (product of popularProducts; track product.id){
        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
           <app-person-card [name]="product.name"
                            [path]="product.image.path"
                            [alt]="product.image.alt"
                            [description]="product.description">
           </app-person-card>
        </div>
      }

    </div>
  </div>
</div>
<!-- End Popular Product -->

<!-- Start Testimonial Slider -->
<app-slider></app-slider>
<!-- End Testimonial Slider -->

